<script id="tpl-header" type="text/template">
    <div class="header"><h1>{{= label }}</h1></div>
</script>
<script id="tpl-body" type="text/template">
    <div class="body"><h2>{{= label }}</h2></div>
</script>